@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&family=Source+Sans+3:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.footer{
    background-color:rgb(43, 42, 41);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo{
    color: white;
    font-weight: bolder;
    font-size: 45px;
}
@media screen and (max-width: 490px) {
    .logo{
        font-size: 35px;
    }
    .lost,.found{
        font-size: 25px;
    }
  }

@media screen and (max-width:900px){
    .box{
        flex-direction: column;
    }
}
.box{
    display: flex;
    justify-content: center;
    width: 55vw;
    gap: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-wrap: nowrap;
}
.lost-item,.found-item{
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgb(242, 101, 34);
    min-width: 120px;
    
}

.lost,.found{
    font-size: 30px;
    color:white;
    display: inline;
    border-bottom: 3px solid rgb(242, 101, 34);
    margin-bottom: 20px;
}
.box ul{
    margin-top: 30px;
    margin-bottom: 40px;
}
.box li{
list-style: none;
font-size: 20px;
text-align: center;
color: white;
margin-bottom: 8px;

}

.last-line{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
}