* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

#logo img {
    height: 60px;
    width: 100px;
    margin: 5px;
    margin-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    height: 100%;
    width: 100%; 
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#navbar ul {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 2px 20px;
    font-size: 20px;
}

#navbar ul li a:hover {
    border-radius: 20px;
    color: black;
    background: white;
}

@media screen and (max-width: 500px) {
    #navbar::before {
        width: 125vw; 
    }
}
@media screen and (max-width: 400px) {
    #navbar::before {
        width: 170vw; 
    }
}
@media screen and (max-width: 282px) {
    #navbar::before {
        width: 250vw; 
    }
}
@media screen and (max-width: 200px) {
    #navbar::before {
        width: 350vw; 
    }
}
